<% comments.each(function(comment){ %>
  <% var time = comment.get('time') %>
  <% if (time) { %>
    <div class="comment no-display" style="left: <%= comment.get('time') * 100 %>%">
    <span class="no-display">
      <%= comment.get('body') %>
    </span>
  </div>
  <% } %>
<% }); %>

<form class="comments">
  <input
    class="comments"
    type="text"
    placeholder="Enter a comment...."
    name="comment[body]">
</form>