<span class="no-of-favourites"><%= clip.get('favourites') %></span>
<% if (clip.get('current_user_likes?')) { %>
  <span class="social-button unlike icon-thumbs-down"></span>
<% } else { %>
  <span class="social-button like icon-thumbs-up"></span>
<% } %>
<span class="social-button add icon-plus"></span>
<span class="social-button share icon-share"></span>