<header id="top">
</header>

<section id="main">
  <h3>
    Here are the most popular clips:
  </h3>
  <div id="clips"></div>


  <form action="<%= clips_url  %>" method="post" enctype="multipart/form-data">
    <h3>Add a new sound file</h3>
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label for="clip_link">Clip</label>
    <input type="file" id="clip_link" name="clip[link]">

   
    <input type="submit" value="Upload">
  </form>

  <div>
    who to follow
  </div>

  <div>
    recent activity
  </div>
  
</section>
