// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "sassy-buttons";
@import "font";
@import "animation";

$total-columns: 3;
$column-width: 20em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
@include establish-baseline;

//
$font: helvetica;
$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: true;
$min-line-padding: 2px;

$dark: #5A1C5C;
$l_on_dark: darken(white, 10%);
$medium: #EF90FF;
$light: lighten(#EF90FF, 15%);
$d_on_light: black;

$headerHeight: 2em;
$audioHeight: 100px;

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font;
}

@mixin frontière($col: black, $w: 2px) {
  @include box-sizing(border-box);
  border: $col solid $w;
}

header#top {
  //+frontière(red)
  @include box-sizing(border-box);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 5px;
  height: $headerHeight;
  width: 100%;
  background: $light;
  color: rgba($d_on_light, 0.7);
  @include single-box-shadow;
  & form:active {
    height: 180em;
  }
}
.main, .cover, .heading {
  //margin-top: $headerHeight * 1.5;
  @include box-sizing(border-box);
  //@include susy-grid-background;
  @include container;
  //height: 100%;
  //position: relative;
  //+frontière
  #clips {
    //position: absolute;
  }
}
.third {
  @include span-columns(1,3);
  &:nth-child(3) {
    @include span-columns(1 omega, 3);
  }
}

.logo {
  position: absolute;
  top: 8px;
  left: 5px;
}
.icon-cloud, .icon-music {
  display: inline;
}
.search, .upload {
  display:inline;
}
.logo, [id^="js-"] {
  cursor: pointer;
}
input.search {
  vertical-align: top;
  font-size: 1em
}

.icon-search {
  cursor: pointer;
}

.icon-attach {
  cursor: pointer;
}
.search-group, .upload-group {
  display: inline-block;
}
.search-group .no-display, .upload-group .no-display {
  @include transition-property(visibility);
  @include transition-duration(2s);
}
.search-group:hover .no-display, .search-group .no-display:focus, .upload-group:hover .no-display{
  display: inline;
  visibility: visible;
}
.logout {
  float: left;
}

.volume-wrapper {
  margin-right: 50px;
  position: relative;
  height: 1.2em;
}

.volume-up, .volume-down {
  height: 20px;
  width: 20px;
  position:relative;
  margin: 0 auto;
  //left: 20px
}

.volume-icon, .volume  {
  position: absolute;
  right: 0;
}
.volume {
  height: 100px;
  margin: 5px;
  width: 20px;
  background: $light;
  border-radius: 5px;
  top: 15px;
  border-top: 20px solid $light;
  border-bottom: 20px solid $light;
}

.ui-slider-range {
  float: none;
  position: absolute;
  @include background-image(linear-gradient(#aaaaaa, #bbbbbb 30%, #cccccc 70%, white));
  margin: 0 37.5%;
  width: 25%;
  bottom: 0;
  border-radius: 5px;

}

.ui-slider-handle {
  position: absolute;
  text-decoration: none;
  width: 0.75em;
  height: 0.75em;
  margin-bottom: -0.4em;
  @include sassy-button-structure(36px, 24px, 0);
  @include sassy-button-gradient("simple", $dark);
//   &:before {
//     @extend .icon-record-outline:before;
//     @extend [class^="icon-"]:before;
//     @extend [class*=" icon-"]:before;
//   }
  &:focus {
    outline: none;
  }
}




iframe {
  width: 100%;
  height: auto;
}

$comments_height: 20px;
#clips {
  margin-top: 2.5em;
}

.audio_title {
  @include adjust-font-size-to(11px);
  color: $dark;
  margin-left: 0
}
.audio_player {
  position: relative;
  margin: 20px 0;
  height: $audioHeight * 1.3;
  width: 300px;
  padding: 0 0 $comments_height 0;
}

.audio_controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 50px;
  height: $audioHeight;
}

.audio_wrapper {
  @include box-sizing(border-box);
  position: absolute;
  height: $audioHeight;
  top: 0;
  right: 0;
  left: 50px;
  bottom: 0;
  background: red;
  audio {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.play_head {
    position: absolute;
    top: 0;
    padding-left: 10px;
    z-index: 20;
    margin: 0;
    width: 0;
    height: $audioHeight;
    .played_block {
      background: rgba($medium, 0.4);
      height: $audioHeight;
      position: absolute;
      left: 0;
      right: 10px;
    }
  }
  .timer {
    height: 15px;
    background: $dark;
    color: $l_on_dark;
    position: absolute;
    bottom: 50%;
    right: 0;
    font-size: 0.8em;
    line-height: 15px;
    padding: 1px;
  }

div.comments {
  @include box-sizing(border-box);
  position: absolute;
  z-index: 20;
  height: ($audioHeight / 2) + 25;
  left: 50px;
  top: $audioHeight / 2;
  right: 0;
  div.comment {
    width: 10px;
    white-space: nowrap;
    //overflow: hidden;
    @include adjust-font-size-to(10px);
    height: 10px;
    position: absolute;
    top: 0;
    background: rgba($light, 0.7);
    z-index: 100;
  }
  div.comment-body {
    background: white;
    position: relative;
    top: 4px;
    border: 1px solid $dark;
    padding: 1px;
    height: 10px;
    line-height: 10px;
  }
  &:hover div.comment.no-display {
    display: block;
    visibility: visible;
    &:hover div.comment-body.no-display {
      display: inline-block;
      visibility: visible;
    }
  }
}

form.comments {
  width: 100%;
  //height: $comments_height;
  position: absolute;
  @include box-sizing(border-box);
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0;
  left: 0;
  background: $dark;
  z-index: 20;
  input {
    width: 100%;
    border: none;
    @include border-radius(5px);
    vertical-align: middle;
  }
}

.audio_data {
  $default-text-shadow-blur: 3px;
  $default-text-shadow-color: rgba($dark, 0.6);
  position: absolute;
  bottom: 0;
  [class^="icon-"]:hover:before, [class*=" icon-"]:hover:before {
    @include single-text-shadow;
  }
}

.no-of-favourites {
  margin-left: 50px;
}

.social-button {
  margin: 0 50px 0 0;
  cursor: pointer;
  color: $dark;
}

.no-display {
  display: none;
  visibility: hidden;
}

.dropzone {
  @include sassy-button-structure(50px, 20px);
//   @include sassy-button("simple", 5px, 19px, $light);
  @include sassy-button-style("simple", $light);
  @include sassy-button("simple", 20px, 36px, $light, $light, $dark);

  color: $dark;
  position: absolute;
  top: 50%;
  left: 20%;
  margin: -200px;
 // margin-left: -50%;
  height: 400px;
  
  text-align: center;
  width: 80%;
  .dz-message {
    height: 100%;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      line-height: 400px;
    }
    input.inner-message {
      @include adjust-font-size-to(24px);
      position: relative;
      top: 50%;
      margin-top: -0.75em;
    }
  }
}
.dz-progress {
  height: 20px;
  width: 100%;
  .dz-upload {
    width: 100%;
    height: 20px;
    display: block;
    background: $dark;
  }
}


.new_user {
  display: inline;
}

.play-pause {
//   @include sassy-button-structure(50px, 20px);
//   @include sassy-button("shiny", 50px, 19px, white);
//   @include sassy-button-style("inset", $light);
//   padding: 0;
  @include adjust-font-size-to(24px);
  cursor: pointer;
  color: $dark;
  $default-text-shadow-blur: 3px;
  $default-text-shadow-color: rgba($dark, 0.6);
  position: absolute;
  top: 25px;
  //left: 10px;
}

.dz-preview {
  @extend .no-display
}

.icon-spin5 {
  @extend .animate-spin;
  line-height: 400px;
}
#main {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.content {
  height: 100%;
  width: 100%;
  position: relative;
  .intro {
    width: 80%;
    @include box-sizing(border-box);
    padding: 20px;
    background: $light;
    color: $dark;
    height: 88px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -44px;
    border-radius: 5px;
    border: 2px solid $dark;
  }
}