<div class="intro">
  Nuage de son is an audio sharing application that allows users to login (via facebook, github or email) and share the sounds they love. Come join us and share comments and favourite songs!
</div>