

  <div class="logo">
    <div class="icon-cloud"></div>
    <div class="icon-music"></div>
  </div>

  <div class="heading">
        <div class="third">
  <p id="js-password">Forgot your password?</p>

  <form accept-charset="UTF-8" action="/users/password" class="no-display" id="password-reset" method="post">
  <div style="margin:0;padding:0;display:inline">
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value="<%= $('meta[name="csrf-token"]').attr('content') %>">
  </div>
    

    <div class="left"><label for="user_email">Email</label>
    <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" value=""></div>

    <div class="left"><input name="commit" type="submit" value="Send me reset password instructions"></div>
</form></div>

  <a href="/users/sign_in" id="js-login" class="third">Sign in</a>

  <a href="/users/sign_up" id="js-register" class="third">Sign up</a>





    <a href="/users/auth/facebook" class="third o-auth no-display">Sign in with Facebook</a><br>
    <a href="/users/auth/github" class="third o-auth no-display">Sign in with Github</a><br>


    
  </div>